body{
   background: #1f1f1f;
   font-size: 30px;
   font: Arial;
}

.calculator{
    display : flex;
    flex-direction: column;
    max-width: 500px;
    width: 90%;
    margin :auto;
    max-height: 500px;
}

.display{
    background: lightgrey; 
     height: 200px;
     flex :1 1 auto;
} 

 .buttons{ 
     height: 700px;
     flex :1 1 auto;
     display: flex;
     
 }

 .numbers{
    background: grey;
    flex-basis : 3;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    
    
 }

 .operators{
    background: aquamarine;
    flex-shrink: 0;
    flex-grow :0;
    flex-shrink: 0;
    flex-basis: 60px;
    min-height: 300px;
    display : flex;
    flex-direction: column;

 }


 .numbers .row{
    justify-content: space-between;
    display: flex;
 }


 button{
   min-height: 70px;
   min-width: 70px;
   height: auto;
   width: auto;
   border: 1px solid;
   padding : 10px;
   font-size: 20px;
 }
 .numbers button{
    background: none;
    border: none;
    justify-content: space-between;
    
 }

 .numbers button:hover{
    background: rgb(68, 68, 68);
 }
 .operators button{
    background: none;
    border: 18px white;
 }
 .operators button:hover{
    background: rgb(105, 218, 180);
 }
